.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(85, 73, 58, 0.708);
    border: 3px solid rgb(218, 195, 166);
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-style: oblique;
    color: black;
    text-align: center;
    text-shadow: 0 2px 2px white;
}

.container:hover {
    transform: scale(1.05);
    background-color: rgb(195, 181, 164);
}

.img {
    box-shadow: 0 5px 5px white;
}